@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Manrope&display=swap");

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-weight: 800;
}
